<%- include('../partials/header') %>
    <main>
    
        <link rel="stylesheet" href="/css/<%= style %>"/>
         <!--Hipervinculo hacia home-->
        <a class="back-to-home"href="/">
           <!--icono para volver-->
        <h3 class="product-title"><i class="bi bi-box-arrow-in-left"></i>Volver al listado <i class="bi bi-caret-right-fill"></i>Alimentos</h3>
        </a>
        <div class="section-products">
        <div class="main-card">
<!--Tarjeta de Contenedor-->
        <div class="card-container">
            <div class="img-container">
             <div class="img-product">
             </div>
            </div>
            <!--Contenedor de descripción-->
            <div class="description-container">
            <!--Nombre del producto-->
              <h2 style="margin: 0;">Whisky Jack Daniel's <br> Honey 750ml</h2>
              <!--Puntos del producto-->
              <div class="product-points">
              <h2 style="font-size: 40px; margin: 0">19.900 </h2><p style="color: gray"> PUNTOS</p>
              </div>
              <!--Boton para ir al carrito-->
              <a style="width= 100%" id="button" href="/cart">Agregar al Carrito</a>
              <div class="description">
              <p>Un verdaderamente fabuloso licor de whisky Jack
                Daniels. Esta hecho con una mezcla de ricas
                especias y suave, miel tersa y el resultado es
                delicioso sobre hielo o cafe.</p>
              <p>Aroma de caramelo y roble carbonizado, un poco
                de flor de naranja, miel de manuka y vainilla.</p>
              <p>Boca: grueso y cremoso, con notas de vainilla,
                roble tostado, miel de nuevo, un poco de
                albaricoque tambien.</p>
              <p>Acabado: De buena longitus - redondeado y rico.</p>
              <p>No incluye vasos, la foto es solo ilustrativa.</p>
              </div>
            </div>
        </div>

    </div>
    </div>
    <div class="section-products">
      <div class="container-products">
        <h2 class="product-title">Te puede interesar</h2>
        <!--Cuadricula de productos-->
        <div class="grid-products2">
<!--Link a pagina del producto-->
          <a href="/product-2">
          <!--Tarjeta del producto-->
            <div class="card-product-y">
            <!--Imagen del producto-->
              <div class="img-product-2">
              </div>
              <!--Tarjeta del titulo-->
              <div class="title-card">
                <div class="title-card-flex">
                  <div class="title-product">
                 <h3>Coca Cola Lata</h3>
                 <h3>220mL Pack</h3>
                 <h3>Original x8</h3>
                 </div>
                 <hr></hr>
                 <h3>760 <span class="points" style="color: gray; font-size: 75%">Puntos</span></h3>
                  </div>
              </div>
            </div>
            </a>

            <%- include('../partials/productCard') %>
            <%- include('../partials/productCard') %>
            <%- include('../partials/productCard') %>
           
           </div>
        </div>
      </div>

        <!--Contenedor de Categorias-->
        <nav class="container-categorias">
          <div class="box-categorias">
          <ul>
            <!--Caja del item-->
            <div class="box-item">
              <!--Icono de Electronica-->
              <i class="fa-solid fa-tablet"></i>
              
          <li>Electronica</li>
          </div>
          <hr></hr>
          <div class="box-item">
            <!--Icono de Alimentos-->
            <i class="fa-solid fa-burger"></i>
          
          <li>Alimentos</li>
          </div>
          <hr></hr>
          <div class="box-item">
            <!--Icono de Bebidas-->
            <i class="fa-solid fa-martini-glass-empty"></i>
            
          <li>Bebidas</li>
          </div>
          <!--Linea Divisora-->
          <hr></hr>
          <div class="box-item">
            <!--Icono de Indumentaria-->
            <i class="fa-solid fa-shirt"></i>
            
          <li>Indumentaria</li>
          </div>
          <!--Linea Divisora-->
          <hr></hr>
          <div class="box-item">
            <!--Icono de Juegos-->
            <i class="fa-solid fa-gamepad"></i>
            
          <li>Juegos</li>
          </div>
          <!--Linea Divisora-->
          <hr></hr>
          <div class="box-item">
            <!--Icono de Automotor-->
            <i class="fa-solid fa-car"></i>
          
          <li>Automotor</li>
          </div>
          <!--Linea Divisora-->
          <hr></hr>
          <div class="box-item">
            <!--Icono de Hogar-->
            <i class="fa-solid fa-couch"></i>
            
          <li>Hogar</li>
          </div>
          <!--Linea Divisora-->
          <hr></hr>
          <div class="box-item">
            <!--Icono de Otros-->
            <i class="fa-solid fa-tag"></i>
            
          <li>Otros</li>
          </div>
          </ul>
          </div>
          </nav>
    </main>

    <%- include('../partials/footer') %>